/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2022, 12:41:51 AM
    Author     : sioni
*/

.container{
    width: 100%;
    float: left;

    text-align: center;
}
.container button{
    display: inline-block;
}
#btn1{
    float:left;
}
#btn3{
    float:right;
}
.information{
    margin-top:30px;
}