/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2022, 1:33:17 AM
    Author     : sioni
*/
.worddisplay{
    margin-top: 20px;
    margin-bottom:20px;
}
.checkout1{
    margin: 12px 12px 12px 12px;
    
}
.checkout{
    margin-left: 20px;
}

